<% if customers.present? %>
  <% customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.contact %></td>
      <td><%= customer.address %></td>
      <td>
        <%= link_to 'Edit', edit_customer_path(id: customer.id), class: 'btn btn-sm btn-primary' %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="4" class="text-danger">There is no customer.</td>
  </tr>
<% end %>