- if customers.present?
  - customers.each do |customer|
    tr
      td
        = customer.name
      td
        = customer.contact
      td
        = link_to 'Select', 'javascript:void(0)', class: 'btn btn-sm btn-primary customer_select', data: {id: customer.id, name: customer.name}
- else
  tr
    td.text-danger[colspan="3"]
      | There is no customer.