<% if items.present? %>
  <% items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.rate %></td>
      <td>
        <%= link_to 'Select', 'javascript:void;', class: 'btn btn-sm btn-primary' %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="3" class="text-danger">There is no item.</td>
  </tr>
<% end %>