<% content_for :title do %>
  Orders
<% end %>

<% content_for :action_buttons do %>
  <div class="row">
    <div class="col-4">
      <%= link_to 'New Order', new_order_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-8">
      <div class="input-group">
        <%= text_field_tag :search, nil, id: 'txt_search', class: 'form-control' %>
        <%= button_tag :search, id: 'btn_search', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Order No.</th>
        <th>Date</th>
        <th>Customer Name</th>
        <th>Net Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="list_body">
      <%= render partial: 'list', locals: {orders: @orders} %>
    </tbody>
  </table>
</div>