$('#order_item_list').html("<%= j render partial: 'item_list', locals: {items: @items} %>");

$('.item_select').on('click', function(){
  var selected_item = $(this)
  var index = $('.item_field').length
  $('#order_item_fields').append('<tr class="item_field"><td><input type="text" name="item_name" id="item_name" value="'+selected_item.data('name')+'" class="form-control" readonly="readonly"></td><td><input class="form-control" type="text" name="order[order_items_attributes]['+index+'][qty]" id="order_order_items_attributes_'+index+'_qty" value="1.0"></td><td><input class="form-control" placeholder="Rate" type="text" name="order[order_items_attributes]['+index+'][rate]" id="order_order_items_attributes_'+index+'_rate" value="'+selected_item.data('rate')+'"></td><td><input autocomplete="off" type="hidden" value="'+selected_item.data('id')+'" name="order[order_items_attributes]['+index+'][item_id]" id="order_order_items_attributes_'+index+'_item_id"><a class="mt-1 btn btn-sm btn-danger remove_item" href="javascript:void(0)">X</a></td></tr>');
});